* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #eb0303;
    font-weight: bold;
    background-color: #4b4646;
    padding: 5px;
    padding-top: 60px; 
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px; 
}
main {
    grid-column: 2 / 3; 
    padding: 10px;
}

aside {
    grid-column: 1 / 2; 
    background-color: #4e4e4e;
    padding: 10px;
}

body.index, body.library {
    background-size: cover;
    background-repeat: no-repeat;
}

body.index {
    background-image: url('images/colosseum.jpg');
}

body.library {
    background-image: url('images/riseandfall.jpg');
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4e4e4e; 
    color: #9379db; 
    text-align: center;
    padding: 10px;
    z-index: 1000; 
}

aside {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 200px; 
    background-color: #4e4e4e; 
    height: 100%;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #9379db; 
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-left: 220px; 
    padding: 10px;
}

section {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #9379db; 
    font-weight: bold; 
    background-color: #4e4e4e;
    padding: 5px; 
    display: inline-block;
}

p {
    color: #666; 
    font-weight: bold; 
    background-color: #4e4e4e; 
    padding: 5px; 
    display: inline-block;
}

.clear-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
}